.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
}

.moon-item {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}